body {
    overflow: hidden;
}

#page-landing {
    width: 100vw;
    height: 100vh;
    background: #BEDAEF;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .home-container img {
    position: absolute;
    left: 50px;
    top: -100px;
}

#page-landing .text {
    max-width: 350px;
}

#page-landing .text h1 {
    position: absolute;

    top: 400px;
    left: 50px;
    
    font-size: 76px;
    font-weight: 700;
    line-height: 10px;

    color: #313833;
}

#page-landing .text p {
    position: absolute;
    
    top: 450px;
    left: 55px;

    font-size: 24px;
    line-height: 100px;

    color: #313833;
}

.location {
    position: absolute;
    right: 80px;
    top: 90px;

    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;
    text-align: left;
}

.location strong {
    font-weight: 800;
    color: #313833;
}

.location span {
    color:#313833;
}

.location .icon {
    position: absolute;
    right: 135px;
    top: 15px;

    color: #313833;
}

.buttons-container {
    position: absolute;
    right: 70px;
    bottom: 50px;

    width: 80px;
    height: 80px;
    background:#313833;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}

@media (prefers-color-scheme: dark) {
    #page-landing {
        background: #010101;  
    }

    #page-landing .text h1 {
        color: #888bda;
    }

    #page-landing .text p {
        color: #888bda;
    }
    
    .location strong {
        color: #888bda;
    }

    .location span {
        color:  #888bda;
    }

    .location .icon {
        color:  #888bda;
    }
    }


