body {
    background:  #BEDAEF;

    margin-bottom: 50px;
}
.snack {
    /* position: absolute; */

    width: 50%;
    height: 200px;
    border-radius: 1.2rem;
    background: #B3BDBD;
    margin: auto;
    
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.6s;
}

.snack:hover {
    background: #C2C2C2;
    transition: 0.4s;

    cursor: pointer;
}

.snack .img {
    width: 140px;
    height: 125px;

    margin-left: 10px;

    border-radius: 1.2rem;

    background: #000; 
}

.snack .title {
    margin-top: 10px;
    margin-bottom: 35px;
    margin-right: 400px;

    color:#22181C;
}

.snack .title h1, h4 {
    margin-left: 30px;
}

.snack .title h4 {
    line-height: 2.6rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #010101;  
    }

    .snack {
        background-color: #474747; 
    }

    .snack:hover {
        background-color: #707070;
    }
    
    h1 {
        color: #888bda;
    }
    
    h4 {
        color: #888bda;
    }  
    }



